@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hwb(0 84% 16%);
}

.nav {
    background-color: hwb(240 4% 86%);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    padding: 0 25px;
    width: 100%;
    /*margin: 0 1em;*/
    max-width: 530px;
    /*overflow: hidden;*/
}

.nav-content {
    display: flex;
    align-items: center;
    height: 120px;
    list-style: none;
    position: relative;
}

/*.nav-item {}*/

.link-item {
    text-decoration: none;
    height: 120px;
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.link-icon {
    font-size: 35px;
    color: hwb(210 60% 35%);
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-text {
    position: absolute;
    font-size: 12px;
    font-weight: 500;
    transform: translateY(32px);
    color: #adb0d1;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.link-item.active {
    transform: translateY(-10px);
}

.link-item.active .link-icon {
    color: hwb(240 17% 0%);
}

.link-item.active .link-text {
    opacity: 1;
}

.indicador {
    position: absolute;
    width: 36px;
    height: 36px;
    background-color: hwb(240 4% 86%);
    border: 6px solid hwb(0 84% 16%);
    border-radius: 50%;
    top: -14px;
    left: 48px;
    transform: translateX(-50%);
    transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.indicador::after,
.indicador::before {
    content: '';
    position: absolute;
    height: 24px;
    width: 19px;
    bottom: -9px;
}

.indicador::before {
    left: -22px;
    border-top-right-radius: 25px;
    box-shadow: 1px -13px hwb(0 84% 16%);
    background-color: hwb(240 4% 86%);
}

.indicador::after {
    right: -22px;
    border-top-left-radius: 25px;
    box-shadow: -1px -13px hwb(0 84% 16%);
    background-color: hwb(240 4% 86%);
}